@import url('https://fonts.googleapis.com/css?family=Domine|Roboto+Slab');

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Domine', serif;
}

input {
  font-family: 'Roboto Slab', serif;
}

button {
  font-family: 'Roboto Slab', serif;
}

figure {
  margin: 0;
  text-align: center;
}

#about {
  width: 780px;
  max-width: 94%;
  margin: auto;
}

.text-content {
  padding: 10px 10px 10px 10px;
  text-align: left;
}

.text-content.center {
  text-align: center;
}

.show-time {
  display: block;
}

.hide-time {
  display: none;
}

.btn-container {
  display: inline-block;
  margin: 10px 5px 10px 5px;
}

.btn {
  border-radius: 10px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.4);
  border: 0;
  outline: 0;
  transition: box-shadow 0.2s;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.4);
}

.btn.primary {
  color: white;
  background-color: #2962FF;
}

.primary.inactive {
  color: white;
  background-color: #448AFF;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.4);
}

.btn.primary.inactive:hover {
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.4);
}

.btn.large {
  width: 100px;
  height: 40px;
}

.btn.medium {
  width: 80px;
  height: 35px;
}

.btn.small {
  width: 50px;
  height: 25px;
}

.btn.floated {
  float: left;
  margin: 0 5px 0 0;
}

.png {
  max-width: 100%;
}